body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="button"]:hover {
    background-color: #45a049;
}

#password-strength {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.error {
    color: red;
}


/* フォーカスが当たった時の青枠を表示しない */
*:focus {
    outline: none;
  }
  
  /* 入力フォームのエリア */
  div.input-area {
    margin: 15px 0 10px 10px;
  }
  
  /* 項目名用のラベル */
  div.input-area label {
    display: inline-block;
    width: 8rem;
    text-align: right;
  }
  
  /* エラーメッセージのスタイル */
  div.error-msg p {
    color: #d00;
    margin: 0 0 0 8rem;
  }
  
  /* 入力欄 */
  input[type="email"] {
    line-height: 2em;
  }
  
  /* 入力エラーがあった時のスタイル */
  .input-error {
    border: 1px solid #d00;
    border-radius: 3px;
    background-color: #FCC;
  }



.navbar .nav-link {
    color:#fff !important;
    font-size: 14px;
    font-weight: 700;

}